/world/
/simplebackups/
/bluemap/
/crash-reports/
/logs/
/defaultconfigs/
/libraries/
/moonlight-global-datapacks/
/.arclight/
/.sable/
/.git/
/dynamic-data-pack-cache/

.log
.probe

usercache.json
usernamecache.json
whitelist.json
server.properties
permissions.yml
ops.json
commands.yml
banned-players.json
banned-ips.json
eula.txt