/saves/
/xaero/
/XaeroWaypoints_BACKUP240807/
/resourcepacks/
/shaderpacks/
/crash-reports/
/particular_cache/
/PCL/
/zmusic/
/schematics/
/moonlight-global-datapacks/
/dynamic-data-pack-cache/
/dynamic-resource-pack-cache/
/downloads/
/defaultconfigs/
/.sable/
/.mixin.out/
/.git/
/tlm_custom_pack/
/patchouli_books/
/CustomSkinLoader/
/logs/
/1.21.1-鸽子窝-V1.0-natives/

.log

usernamecache.json
usercache.json
servers.dat_old
servers.dat
ponders_watched.json
command_history.txt
patchouli_data.json
1.21.1-鸽子窝-V1.0.jar
1.21.1-鸽子窝-V1.0.json
options.txt